
@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-Bold.eot');
  src: url('@/assets/fonts/SUIT-Bold.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-Bold.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-Bold.woff') format('woff'),
      url('@/assets/fonts/SUIT-Bold.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-Bold.svg#SUIT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-Medium.eot');
  src: url('@/assets/fonts/SUIT-Medium.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-Medium.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-Medium.woff') format('woff'),
      url('@/assets/fonts/SUIT-Medium.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-Medium.svg#SUIT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-Heavy.eot');
  src: url('@/assets/fonts/SUIT-Heavy.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-Heavy.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-Heavy.woff') format('woff'),
      url('@/assets/fonts/SUIT-Heavy.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-Heavy.svg#SUIT-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-Thin.eot');
  src: url('@/assets/fonts/SUIT-Thin.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-Thin.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-Thin.woff') format('woff'),
      url('@/assets/fonts/SUIT-Thin.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-Thin.svg#SUIT-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-Light.eot');
  src: url('@/assets/fonts/SUIT-Light.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-Light.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-Light.woff') format('woff'),
      url('@/assets/fonts/SUIT-Light.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-Light.svg#SUIT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-ExtraLight.eot');
  src: url('@/assets/fonts/SUIT-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-ExtraLight.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-ExtraLight.woff') format('woff'),
      url('@/assets/fonts/SUIT-ExtraLight.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-ExtraLight.svg#SUIT-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-SemiBold.eot');
  src: url('@/assets/fonts/SUIT-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-SemiBold.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-SemiBold.woff') format('woff'),
      url('@/assets/fonts/SUIT-SemiBold.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-SemiBold.svg#SUIT-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-ExtraBold.eot');
  src: url('@/assets/fonts/SUIT-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-ExtraBold.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-ExtraBold.woff') format('woff'),
      url('@/assets/fonts/SUIT-ExtraBold.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-ExtraBold.svg#SUIT-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SUIT';
  src: url('@/assets/fonts/SUIT-Regular.eot');
  src: url('@/assets/fonts/SUIT-Regular.eot?#iefix') format('embedded-opentype'),
      url('@/assets/fonts/SUIT-Regular.woff2') format('woff2'),
      url('@/assets/fonts/SUIT-Regular.woff') format('woff'),
      url('@/assets/fonts/SUIT-Regular.ttf') format('truetype'),
      url('@/assets/fonts/SUIT-Regular.svg#SUIT-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



