<diV class="container">
    <div class="list">
        <div class="Resume-wrapper">
            <div>
                <button class="btn btn-warn" (click)="warningModal = true"> Go Back </button>
            </div>
            <div class="header-title">{{pageType}} Resume</div>
            <form [formGroup]="ResumeForm" (submit)="finalSubmit()">
                <div class="field-group">
                    <label>Title</label>
                    <input type="text" class="form-control" formControlName="resume_title">
                    <small
                        *ngIf="ResumeForm.get('resume_title')?.hasError('required') && ResumeForm.get('resume_title')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>
                <div class="field-group">
                    <label>Highest Education</label>
                    <select class="form-control select" formControlName="last_educational_background">
                        <option [value]="career.value" *ngFor="let career of careers">{{career.name}}</option>
                    </select>
                    <small
                        *ngIf="ResumeForm.get('last_educational_background')?.hasError('required') && ResumeForm.get('last_educational_background')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>
                <div class="field-group horizontal">
                    <label>Career</label>
                    <div class="horizontal">
                        <label>
                            <input type="radio" value="newcomer" name="career_type" formControlName="career_type">
                            Fresher
                        </label>
                        <label>
                            <input type="radio" value="experience" name="career_type" formControlName="career_type">
                            Experienced
                        </label>
                    </div>
                    <small
                        *ngIf="ResumeForm.get('career_type')?.hasError('required') && ResumeForm.get('career_type')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>
                <div class="field-group">
                    <label>Desired Days</label>
                    <div class="horizontal">
                        <label *ngFor="let desiredDay of desiredDays; let i = index" formArrayName="working_days">
                            <input type="checkbox" [value]="desiredDay.value" [formControlName]="i">
                            {{desiredDay.name}}
                        </label>
                    </div>
                    <small
                        *ngIf="ResumeForm.get('working_days')?.hasError('required') && ResumeForm.get('working_days')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>

                <!-- Checkbox values: {{ ResumeForm.controls.desired_days.value | json}} -->

                <div class="field-group ">
                    <label>Desired Hours</label>
                    <div class="horizontal">
                        <label *ngFor="let hour of desiredHours; let i = index" formArrayName="working_hours">
                            <input type="checkbox" [value]="hour.value" [formControlName]="i">
                            {{hour.name}}
                        </label>
                    </div>
                    <small
                        *ngIf="ResumeForm.get('working_hours')?.hasError('required') && ResumeForm.get('working_hours')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>

                <!-- Checkbox values: {{ ResumeForm.controls.working_hours.value | json}} -->

                <div class="field-group ">
                    <label>Desired Period</label>
                    <div class="horizontal">
                        <label *ngFor="let period of desiredPeriods; let i = index" formArrayName="working_periods">
                            <input type="checkbox" [value]="period.value" [formControlName]="i">
                            {{period.name}}
                        </label>
                    </div>
                    <small
                        *ngIf="ResumeForm.get('working_periods')?.hasError('required') && ResumeForm.get('working_periods')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>

                <div class="field-group ">
                    <label>Employment Type</label>
                    <div class="horizontal">
                        <label *ngFor="let empType of employmentType;let i = index" formArrayName="employment_type">
                            <input type="checkbox" [value]="empType.value" [formControlName]="i">
                            {{empType.name}}
                        </label>
                    </div>
                    <small
                        *ngIf="ResumeForm.get('employment_type')?.hasError('required') && ResumeForm.get('employment_type')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>
                <div class="field-group">
                    <label>Self Intro</label>
                    <textarea rows="6" class="form-control" formControlName="self_introduction"></textarea>
                    <small
                        *ngIf="ResumeForm.get('self_introduction')?.hasError('required') && ResumeForm.get('self_introduction')?.touched"
                        class="error-msgsign">This is a required field</small>
                </div>

                <div class="form-submit">
                    <button type="submit" class="btn btn-info lg rounded big">Submit</button>
                </div>
            </form>
        </div>
    </div>
</diV>
<ng-template [ngIf]="warningModal">
    <app-warning-modal (modalEmit)="WarnModalStatus($event)"></app-warning-modal>
</ng-template>
<ng-template [ngIf]="true">
    <app-occupation-modal></app-occupation-modal>
</ng-template>