<diV class="container">
    <div class="list">
        <div class="Resume-wrapper">
            <div class="header-title">Add Resume</div>
            <form>
                <div class="field-group">
                    <label>Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="field-group">
                    <label>Highest Education</label>
                    <select class="form-control select">
                        <option value="primary school">primary school</option>
                        <option value="middle school">middle school</option>
                        <option value="high school">high school</option>
                        <option value="college">college</option>
                        <option value="university">university</option>
                        <option value="post graduate">post graduate</option>
                    </select>
                </div>
                <div class="field-group horizontal">
                    <label>Career</label>
                    <div class="horizontal">
                        <label>
                            <input type="radio" value="newcomer" name="Careerradio">
                            Fresher
                        </label>
                        <label>
                            <input type="radio" value="experience" name="Careerradio">
                            Experienced
                        </label>
                    </div>

                </div>
                <div class="field-group ">
                    <label>Desired Days</label>
                    <div class="horizontal">
                        <label>
                            <input type="checkbox" value="Mon-Fri" name="Dayscheckbox">
                            Mon-Fri
                        </label>
                        <label>
                            <input type="checkbox" value="Mon-Sat" name="Dayscheckbox">
                            Mon-Sat
                        </label>
                        <label>
                            <input type="checkbox" value="Mon-Sun" name="Dayscheckbox">
                            Mon-Sun
                        </label>
                        <label>
                            <input type="checkbox" value="Weekend" name="Dayscheckbox">
                            Weekend
                        </label>
                        <label>
                            <input type="checkbox" value="5 days a week" name="Dayscheckbox">
                            5 days a week
                        </label>
                        <label>
                            <input type="checkbox" value="4 days a week" name="Dayscheckbox">
                            4 days a week
                        </label>
                        <label>
                            <input type="checkbox" value="6 days a week" name="Dayscheckbox">
                            6 days a week
                        </label>
                        <label>
                            <input type="checkbox" value="Any day of week consultant" name="Dayscheckbox">
                            Any day of week consultant
                        </label>
                    </div>
                </div>

                <div class="field-group ">
                    <label>Desired Hours</label>
                    <div class="horizontal">
                        <label>
                            <input type="checkbox" value="Morning" name="Hourscheckbox">
                            Morning
                        </label>
                        <label>
                            <input type="checkbox" value="Afternoon" name="Hourscheckbox">
                            Afternoon
                        </label>
                        <label>
                            <input type="checkbox" value="Evening" name="Hourscheckbox">
                            Evening
                        </label>
                        <label>
                            <input type="checkbox" value="Dawn" name="Hourscheckbox">
                            Dawn
                        </label>
                        <label>
                            <input type="checkbox" value="All Day" name="Hourscheckbox">
                            All Day
                        </label>
                    </div>
                </div>

                <div class="field-group ">
                    <label>Desired Period</label>
                    <div class="horizontal">
                        <label>
                            <input type="checkbox" value="1 week to 1 month" name="Hourscheckbox">
                            1 week to 1 month
                        </label>
                        <label>
                            <input type="checkbox" value="1 to 3 months" name="Hourscheckbox">
                            1 to 3 months
                        </label>
                        <label>
                            <input type="checkbox" value="3 to 6 months" name="Hourscheckbox">
                            3 to 6 months
                        </label>
                        <label>
                            <input type="checkbox" value="6 to 12 months" name="Hourscheckbox">
                            6 to 12 months
                        </label>
                        <label>
                            <input type="checkbox" value="Over 1 year" name="Hourscheckbox">
                            Over 1 year
                        </label>
                    </div>
                </div>

                <div class="field-group ">
                    <label>Employment Type</label>
                    <div class="horizontal">
                        <label>
                            <input type="checkbox" value="Full Time" name="Employmentcheckbox">
                            Full Time
                        </label>
                        <label>
                            <input type="checkbox" value="Part Time" name="Employmentcheckbox">
                            Part Time
                        </label>
                        <label>
                            <input type="checkbox" value="Contract Worker" name="Employmentcheckbox">
                            Contract Worker
                        </label>
                        <label>
                            <input type="checkbox" value="Internship" name="Employmentcheckbox">
                            Internship
                        </label>
                        <label>
                            <input type="checkbox" value="Freelancer" name="Employmentcheckbox">
                            Freelancer
                        </label>
                    </div>
                </div>
                <div class="field-group">
                    <label>Self Intro</label>
                    <textarea rows="6" class="form-control"></textarea>
                </div>

                <div class="form-submit">
                    <button type="submit" class="btn btn-info lg rounded big">Submit</button>
                </div>
            </form>
        </div>
    </div>
</diV>