<div :class="`back-wh ${commonstore.state.currentThemeStore}`">
  <!-- <button @click="popClose(true, closeSelf())">Close</button> -->
  <div class="top-hdr top-hdr-new">
    <div class="container">
      <h4 class="heading">
        login
        <!-- <a class="cross-arrow"
            ><img src="./assets/icons/cross-icon2.svg" alt=""
          /></a> -->
      </h4>
      <!-- Inner Header Section -->
      <!-- <InnerHeader headerTitle="로그인" /> -->
      <!--  -->
    </div>
  </div>
  <div class="container">
    <div class="form-wrapper-login">
      <div class="login-tab">
        <div class="tab-outr">
          <div class="login-tab-cont">
            <a href="javascript:void(0);" class="login-logo"><img src="./assets/login-logo.svg" alt="" /></a>
            <div class="form-wrapper">
              <div class="cm-top-space">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">

                    <div class="group">
                      <input type="email" class="form-control" placeholder="email" formControlName="email"
                        style="text-transform: lowercase" />
                      <small *ngIf="emailError && emailError.errors?.['required'] && emailError.touched"
                        class="error-msgsign">
                        Please enter a email
                      </small>
                      <small *ngIf="emailError && emailError.errors?.['email'] && emailError.touched"
                        class="error-msgsign">
                        Please enter a valid email
                      </small>
                    </div>

                    <div class="group">
                      <input type="password" class="form-control" placeholder="password" formControlName="password" />
                      <small *ngIf="passwordError && passwordError.errors?.['required'] && passwordError.touched"
                        class="error-msgsign">Please enter a password</small>
                    </div>
                    <div class="group">
                      <label class="check-input">
                        <input type="radio" name="Careerradio" value="job_seeker" id="jobSeeker"
                          formControlName="user_type" />
                        <span class="text" for="jobSeeker">Job Seeker</span>
                      </label>
                      <label class="check-input">
                        <input type="radio" name="Careerradio" value="recruiter" id="recruiter"
                          formControlName="user_type" />
                        <span class="text" for="recruiter">Recruiter</span>
                      </label>
                    </div>
                    <!-- loginForm is : {{emailError | json}} -->
                    <!-- <small *ngIf="errors && errors?.password" class="error-msgsign">{{
                          errors?.password
                        }}</small> -->
                  </div>
                  <input type="submit" value="Submit" class="btn btn-primary lg" />
                </form>
              </div>
            </div>
            <!-- <div class="login-bottom-nav">
                  <ul>
                    <li>
                      <a hre="{ name: 'FindEmailAuthenticate' }"
                        >이메일찾기</a
                      >
                    </li>
                    <li>
                      <a hre="{ name: 'ForgotPassword' }"
                        >비밀번호 찾기</a
                      >
                    </li>
                    <li>
                      <a hre="{ name: 'SelectMembershipType' }"
                        >회원가입</a
                      >
                    </li>
                  </ul>
                </div> -->
            <!-- sns login -->
            <!-- <div class="reg-btn">
                  <button class="btn btn-secondary lg" @click="mbKakaoLogin">
                    <em><img src="@/assets/icons/chat-icon.svg" alt="" /></em>
                    카카오 로그인
                  </button>
                  <button
                    :class="`btn btn-success lg ${isAppaleId ? '' : 'mb-btn-0'}`"
                    @click="mbNaverLogin"
                  >
                    <em><img src="@/assets/icons/n-icon.svg" alt="" /></em>
                    네이버 로그인
                  </button>
                  
                  <button
                    class="btn btn-black lg"
                    v-show="isAppaleId"
                    @click="mbAppleLogin"
                  >
                    <em><img src="@/assets/icons/apple.svg" alt="" /></em>
                    Apple로 계속하기
                  </button>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>