<diV class="container">
    <!-- Resume list elements -->
    <ng-template let-resumeEle="resume" #resumeCard>
        <div class="Resume-wrapper">
            <div class="document-list document-list-resume">
                <p>
                    <ng-template [ngIf]="resumeEle.is_default === 1">
                        <span class="btn btn-default red">Default</span>
                    </ng-template>
                    <ng-template>
                        <span class="btn btn-default" v-if="item.is_temporary === 1">Temporary</span>
                    </ng-template>
                    <b>{{resumeEle.created_at | localDate}}</b>
                </p>
                <h4 class="mb-12">{{resumeEle.resume_title}}</h4>
                <ul class="d-text-match">
                    <li>
                        <em>Work Places: </em> <span>{{resumeEle.work_places}}</span>
                    </li>
                    <li>
                        <em>Occupation: </em> <span>{{resumeEle.occupations}}</span>
                    </li>
                </ul>
                <div class="btn-group">
                    <div>
                        <button type="button" class="btn lg btn-info">
                            Edit
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn lg">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- {{resumeListArr | json}} -->
    <div class="header-title">
        Add Resume
    </div>

    <!-- Resume list array -->
    <div *ngIf="resumeListArr.length > 0; else emptyBlock">
        <div class="list" *ngFor="let resume of resumeListArr">
            <ng-container [ngTemplateOutlet]="resumeCard" [ngTemplateOutletContext]="{resume}">
            </ng-container>
        </div>
    </div>
    <ng-template #emptyBlock>
        <div class="list">
            <p>No resume present</p>
        </div>

    </ng-template>

    <div class="list ">
        <button type="button" class="btn btn-primary lg big" (click)="redirectToAdd()">Add Resume</button>
    </div>
</diV>