<header class="header">
    <div class="header-box">
        <div class="container">
            <div class="hdr-innr">
                <div class="left">
                    <a href="#" class="is_read noti-icon"><img src="./assets/icons/notification-icon.svg" alt="" />
                        <span></span></a>
                </div>
                <div class="middle">
                    <a href="#" class="logo"><img src="./assets/images/logo.svg" alt="" /></a>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="./assets/icons/eye-blk.svg" alt="" />
                                <!-- <Vue3Lottie :animationData="EyesJSON" :height="24" :width="24" /> -->
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="./assets/icons/user-blk.svg" alt="" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>