<header class="header">
    <div class="header-box">
        <div class="container">
            <div class="hdr-innr">
                <div class="left">
                    <span>Logo</span>
                </div>
                <div class="middle">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="active-link" class="router-link">Home</a></li>
                        <li><a routerLink="/resume/list" routerLinkActive="active-link" class="router-link">Resume</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li *ngIf="token; else loginBlock">
                            <a href="#" class="mr-2"><img src="./assets/icons/user-blk.svg" alt="" /></a>
                            <button type="button" class="btn btn-warn rounded" (click)="setLogout()">Logout</button>
                            <!-- {{token | json}} -->
                        </li>
                        <ng-template #loginBlock>
                            <a class="btn btn-primary" routerLink="/login">login</a>
                        </ng-template>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>