<header class="header">
    <div class="header-box">
        <div class="container">
            <div class="hdr-innr">
                <div class="left">
                    <span>Logo</span>
                </div>
                <div class="middle">
                    <ul>
                        <li><a routerLink="./home" routerLinkActive="active-link">Home</a></li>
                        <li><a routerLink="./resume/list" routerLinkActive="active-link">Resume</a></li>
                        <li>
                            <a routerLink="/register"
                              >Register Now</a
                            >
                          </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <!-- <li>
                            <a href="#">
                                <img src="./assets/icons/eye-blk.svg" alt="" />
                                <Vue3Lottie :animationData="EyesJSON" :height="24" :width="24" />
                            </a>
                        </li> -->
                        <li>
                            <a href="#"><img src="./assets/icons/user-blk.svg" alt="" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>